*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    background-image: url(images/backimg.jpg);
}

.header-div{
    display: flex;
    justify-content:space-between;
    margin-top: 1.5%;
    padding: 0% 1.7%;
}

#about-id{
    font-size: 22px;
}
#about-id a{
    text-decoration: none;
    color: white;
}

#htop-id{
    font-size: 22px;
}
#htop-id a{
    color: white;
    text-decoration: none;
}

.logo-div{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#logo-png{
    height: 400px;
}

.btn-div{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
button{
    height: 100px;
    width: 600px;
    font-size: 40px;
    font-family: cursive;
    background-color: antiquewhite;
    border-radius: 20px;
}
.btn-div :hover{
    background-color: rgb(248, 209, 158);
    transform: scale(1.05);
}


@media only screen and (max-width:600px) {
    body{
        flex-wrap: wrap;
    }

    #logo-png{
        height: 180px;
    }
    button{
        height: 80px;
        width: 340px;
       }
    .btn-div{
        margin-top: 150px;
    }

    #about-id, #htop-id{
        font-size: 15px;
    }

    .header-div{
        padding: 0% 2%;
        margin-top: 2%;
    }
}

